@import "tailwindcss";

@font-face {
  font-family: "Onest Regular";
  src: url(../public/fonts/Onest/static/Onest-Regular.ttf);
}

body{
  font-family: "Onest Regular";
}

body, html{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}